* {
    margin: 0;
    font-family: 'Menlo', 'monoscript';
    user-select: none;
    color: midnightblue;
    text-shadow: 0px 0px 2px yellowgreen;
}

/* TODO: media queries for mobile devices */

html {
    height: 100vh;
    width: 100vw;
    
}

body {
    width: 96%;
    height: 96%;
    background: linear-gradient(-48deg, slategrey, mistyrose);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#chatWrap {
    position: relative;
    width: 650px;
    height: 400px;
    border: 4px silver ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 79, 160, 0.2);
    padding: 2px;
    overflow: hidden;
} 

h1 {
    position: absolute;
    border: 4px silver ridge;
    margin: 3px 3px;
    padding: 4px;
    background-color: rgba(200, 79, 160, 0.4);
    font-size: 10px;
    align-self: flex-start;
    z-index: 10;
}

ul {
    width: 100%;
    z-index: 5;
    position: absolute;
    bottom: 0;
    align-self: flex-end;
    list-style-type: none;
    padding: 3px;
}

li {
    font-size: 10px;
    text-align: end;
    word-break: break-all;

}

.ai {
    color: orangered;
    text-shadow: 0px 0px 2px darkblue;
}

.human {
    color: midnightblue;
    text-shadow: 0px 0px 2px yellowgreen;
}

#inputWrap {
    display: flex;
    width: 663px;
    height: 30px;
}

input {
    display: inline-block;
    outline: none;
    border: 4px silver ridge;
    background-color: rgba(200, 79, 160, 0.4);
    padding: 2px 3px;
    margin: 3px 0px;
    font-size: 10px;
    width: 618px;
}

button {
    display: inline-block;
    width: 30px;
    border: 4px silver ridge;
    background-color: rgba(200, 79, 160, 0.4);
    outline: none;
    padding: 2px 3px;
    margin: 3px 0px 0px 3px;
    font-size: 10px;
    height: 24px;
    cursor: pointer;
}


