@font-face {
    font-family: druk;
    src: url(/assets/Druk-Wide-Medium.otf);
    /* src: url(/assets/Druk-Wide-Bold.otf); */
}

* {
    margin: 0;
    font-family: 'druk', 'monoscript';
    user-select: none;
    color: white;
    text-transform: uppercase;
}

/* TODO: media queries for mobile devices */

html {
    /* display: flex;
    justify-content: center; */
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    transition: background-color 0.5s linear;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    transition: filter 0.5s linear;
    overflow: hidden;
    background: url(/assets/runway1.gif) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#perspective {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    perspective: 1500px;
    /* background-color: red; */
}

#info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* z-index: 1; */
    width: 100%;
    height: 100vh;
    opacity: 1;
    pointer-events: auto;
    /* width: calc(100% - 20px); */
    /* height: calc(100% - 20px); */
    /* background-color: rgba(30, 0, 30, 1); */
    transition: all 4s;
    transform: rotateY(0deg) translateZ(0px);
}

#info-wrapper img {
    width: 47%;
    margin-bottom: 20px;
}

/* #info-wrapper h4 {
    align-self: start;
    margin: 0px 0px 20px 20px;
} */

#info-wrapper p {
    font-size: 10px;
    margin: 20px 20px 20px 20px;
}

#info-wrapper button {
    outline: none;
    background-color: transparent;
    font-size: 16px;
    border: 2px solid white;
    margin-top: 20px;
    cursor: pointer;
    padding: 8px;
}

#info-wrapper button:active {
    background-color: black;
}

#content-wrapper {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* position: absolute; */
    width: 100%;
    opacity: 0;
    pointer-events: none;
    /* width: calc(100% - 20px); */
    /* height: calc(100% - 20px); */
    transform: rotateY(180deg) translateZ(3px);
    transition: all 4s;
}

#logo {
    display: block;
    width: 150px;
    margin: 0px auto 40px auto;
    cursor: pointer;
}

#runwayConatiner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
}

#runwayConatiner div {
    /* display: flex;
    align-items: center; */
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto 30px auto;
    height: 114px;
    border: 3px solid white;
    overflow: hidden;
}

#runway {
    position: absolute;
    width: 100%;
    top: -50%;
    filter: hue-rotate(0deg);
    transition: filter 0.5s linear;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    /* border: 2px solid lime; */
}

#responseWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 114px;
    margin: 0 auto;
    /* min-height: 120px; */
    border: 3px solid white;
    border-bottom: none;
    font-size: 20px;
    overflow: auto;
}

@keyframes fade {
    0%    {opacity: 0}
    100%  {opacity: 1}
}

#response {
    display: none;
    animation: fade 0.7s linear;
    text-align: center;
    /* transition: opacity 0.7s linear; */
    /* text-shadow: white 0px 0px 15px; */
}

#inputWrap {
    display: flex;
    align-items: center;
    width: 80%;
    height: 114px;
    margin: 0 auto 30px auto;
    /* min-height: 120px; */
    border: 3px solid white;
    overflow: auto;
}

textarea {
    width: 98%;
    height: 20px;
    font-size: 20px;
    resize: none;
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
    transition: opacity 0.7s linear;
    /* text-shadow: white 0px 0px 15px; */
    /* background-color: lime; */
}

#response::-webkit-scrollbar, textarea::-webkit-scrollbar {
  display: none;
}

#response, textarea {
  -ms-overflow-style: none;
}

#send {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    /* right: 9%; */
    top: 237px;
    border: 3px solid white;
    border-top: none;
    font-size: 1.2em;
    background-color: transparent;
    pointer-events: auto;
    outline: none;
    cursor: pointer;
}

#send:active {
    background-color: black;
}

#square {
    margin: 30px auto 0 auto;
    display: flex;
    align-items: flex-end;
    width: 50px;
    height: 13%;
    padding-bottom: 30px;
    /* background-color: lime; */
}

#square img {
    width: 100%;
}

@media screen and (min-width: 500px) {

    #info-wrapper, #content-wrapper {
        width: 500px;
    }

}

@media screen and (max-width: 380px) {

   #info-wrapper, #content-wrapper {
        width: 380px;
    }

}
